.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_logo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}

.nav_menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav_menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav_menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;

  /* border: 2px solid #ff4141; */
  /* border-top: 1px solid red; */
}

.nav_login_cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav_login_cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.nav_login_cart button:active {
  background-color: #f3f3f3;
}

.nav_cart_count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}

/* Thông báo giỏ hàng style by FINO (add {number_cart}="4"} to {div className="nav_login_cart"}) */
/* .nav_login_cart {
  position: relative;
}

.nav_login_cart::after {
  content: attr(number_cart);
  position: absolute;
  right: -10px;
  top: 35px;
  background-color: red;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 100rem;
  color: white;
} */
